.row-alert-fixed .alert {
  z-index: 1;
  position: fixed;
  top: 75px;
}

.assignment-list__table--center-non-border th{
  text-align: center
}

.assignment-list__table--center-non-border td{
  text-align: center
}
