.select-per-page {
    height: 30px;
    width: 70px !important;
    padding-top: 3px;
    border-top: 0;
    border-right : 0;
    border-left: 0;
    border-bottom-width : 2px;
    border-bottom-color: rgba(165,214,167 ,1);
    width: 150px;
    margin-bottom: 2px;
  }
  
  .select-per-page:focus {
    outline: none !important;
    border-top: 0 !important;
    border-right : 0 !important;
    border-left: 0 !important;
  }

  .table-header td {
    text-align: left;
  }

  
.boq-tech-status-PA {
  padding-left : 10px;
  padding-right: 10px;
  background-color: rgba(229,115,115 ,1);
  font-size: 12px;
  font-weight: 500;
  color:rgba(238,238,238 ,1);
  border-radius: 7px;
  margin:1px;
}

.boq-tech-status-WA {
  padding-left : 10px;
  padding-right: 10px;
  background-color: rgba(255,160,0 ,1);
  font-size: 12px;
  font-weight: 500;
  color:rgba(238,238,238 ,1);
  border-radius: 7px;
  margin:1px;
}

.boq-tech-status-A {
  padding-left : 10px;
  padding-right: 10px;
  background-color: rgba(129,199,132 ,1);
  font-size: 12px;
  font-weight: 500;
  color:rgba(238,238,238 ,1);
  border-radius: 7px;
  margin:1px;
}

.table-site-detail td {
  text-align: center;
}


.divtable {
  overflow-y: scroll;
  overflow-y: scroll;
  width:100%;
  height:auto;
  max-height: 700px;
}

.fixed {
  width:100%;
  border-top: 2px solid #ebebeb;
}

/* Use position: sticky to have it stick to the edge
 * and top, right, or left to choose which edge to stick to: */

.fixed thead tr .fixedhead {
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  background: #c6f569;
  /* border-top: 2px solid #000000; */
  padding : 10px;
  width : 135px;
  max-width : 180px;
  top: 0;
  text-align: center;
  z-index: 2;
}

.fixed thead .fixedhead2 {
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  background: #f8f6df;
  /* border-top: 2px solid #000000; */
  padding : 10px;
  top: 0px;
  text-align: center;
  z-index: 1;
}

.fixed thead .fixedheaddelta2 {
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  background: #f8f6df;
  /* border-top: 2px solid #000000; */
  padding : 10px;
  top: 0px;
  text-align: center;
  z-index: 1;
}

.fixed thead tr .fixed2 {
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  background: #f8f6df;
  padding : 10px;
  top: 40px;
  text-align: center;
  /* border-top: 2px solid #000000; */
  z-index: 0;
}

.fixbody {
  text-align: center;
}

.fixleft1{
  position: sticky;
  left : 0;
  text-align: center;
  /* border-top: 2px solid #000000; */
  padding : 10px;
  z-index: 1;
}

.fixleft2{
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  text-align: center;
  left:68.5px;
  /* border-top: 2px solid #000000; */
  padding : 10px;
  z-index: 1;
}

.fixleft3{
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  text-align: center;
  left:153.5px;
  /* border-top: 2px solid #000000; */
  padding : 10px;
  z-index: 1;
}

.fixleft4{
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  text-align: center;
  left:225px;
  /* border-top: 2px solid #000000; */
  padding : 10px;
  z-index: 1;
}

.fixleft1deltaapproval{
  position: sticky;
  left : 0;
  text-align: center;
  /* border-top: 2px solid #000000; */
  padding : 10px;
  z-index: 1;
}

.fixleft2deltaapproval{
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  text-align: center;
  left:72px;
  /* border-top: 2px solid #000000; */
  padding : 10px;
  z-index: 1;
}

.fixleft1delta{
  position: sticky;
  left : 0;
  text-align: center;
  /* border-top: 2px solid #000000; */
  padding : 10px;
  z-index: 1;
}

.fixleft2delta{
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  text-align: center;
  left:68px;
  /* border-top: 2px solid #000000; */
  padding : 10px;
  z-index: 1;
}

.fixleft3delta{
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  text-align: center;
  left:152px;
  /* border-top: 2px solid #000000; */
  padding : 10px;
  z-index: 1;
}

.fixleft4delta{
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  text-align: center;
  left:224px;
  /* border-top: 2px solid #000000; */
  padding : 10px;
  z-index: 1;
}

.fixbody .fixleft1, .fixbody .fixleft2, .fixbody .fixleft3, .fixbody .fixleft4 {
  background: #ffffff;
}

.fixbody .datareg {
  padding : 10px;
  z-index: 0;
  background: #FFFFFF;
  border-top: 2px solid #ebebeb;
}