// Here you can add other styles

@font-face {
    font-family: EricssonFontHilda;
    src : url("../assets/EricssonHilda-Regular.woff");
}

body {
    font-family: EricssonFontHilda;
}

.app-header {
    background-color: #0c0c0c;
    border-bottom : none;
}

.app-header .navbar-brand {
    width: 250px;
}

.navbar-nav .nav-link {
    color: #ecf0f1;
    font-weight: 300;
}

body {
    background-color: #f2f2f2;
}
.breadcrumb {
    background-color: #e0e0e0;
}
.sidebar {
    background-color: #e0e0e0;
}
.sidebar .nav-title {
    padding: 0.9rem 1rem;
    color: #242424;
}
.sidebar .nav-title {
    padding: 0.9rem 1rem;
    color: #242424;
}

.sidebar .nav-item {
    font-size:15px;

}

.sidebar .nav-link .nav-icon {
    font-size: 1rem;
    color: #7f8c8d;
    font-weight: 600;
    margin-right: 20px;
}

.widget-link-icon {
    position: relative;
    display: block;
    float: right;
    font-size: 50px;
}

.vertical-center {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.sidebar .nav-link.active .nav-icon {
    color: #bdc3c7;
}

.sidebar .nav-link.active {
    background: #0082f0;
    color: #fafafa;
}

.sidebar .nav-link {
    color : #0c0c0c;
    font-weight: 500;
}
.app-footer {
    background-color: #e0e0e0;
}

.buttonBoQ {
    margin-left: 5px;
}

.checkmark-dash {
    margin: 0px 5px 0px 5px;
    float: left;
    margin-top: 2px;
    height: 20px;
    width: 20px;
    background-color: #eee;
  }

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(45, 152, 218,0.1);
}

.table-bordered th, .table-bordered td {
    vertical-align: middle;
    text-align: center;
}

.card-header {
    font-size: 15px;
    font-weight: 500;
}

.modal.show .modal-dialog {
  margin-top: 100px;
}


// loader Start
.lds-ring {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 6px solid rgb(0, 0, 0);
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: rgb(0, 0, 0) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}



// loader End
